@model webBowlingProject.ViewModels.GamesViewModel
@{
    ViewBag.Title = "Bowling Page";
}

<h1>E-bowling</h1>
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "GameId" }))
{
    <div class="form-group">
        <div class="control-label col-sm-12">
            Please Enter Player Name
        </div>
        <div>
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.player, new { @class = "form-control", @placeholder = "Player Name", maxlength = 200 })
            </div>
            @Html.ValidationMessageFor(model => model.player)
        </div>
    </div>

    foreach (var item in )
    {
        <div class="form-group">
            <div class="control-label col-sm-12">
                Pins Hit
            </div>
            <div class="col-md-12">
                @item.Pins
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-12 text-left ">
                Score
            </div>
            <div class="col-xs-12">
                @item.Score
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-sm-12">
                Frame Number
            </div>
            <div class="col-sm-1">
                @item.frames
            </div>
        </div>
    }
    <div id="result"></div>
    <input type="submit" value="Roll" class="btn btn-primary" id="rollButton" />
}
@section scripts{
    <script>
        function getFrame() {
            var Frames = $("#frameSet").val();
            $.ajax({
                url: '@Url.Action("Index", "Home")',
                dataType: 'json',
                data: { GameId: GameIdValue },
                success: function (data) {
                    $("#Pins").val(data.Pins);
                    $("#Score").val(data.Score);
                    $("#frames").val(data.frames);
                },
                error: function (data, errorThrown) {
                    alert(errorThrown);
                }
            });
        }

        if (typeof (Storage) !== "undefined") {
            localStorage.setItem("frames", $("#Score").val());
            document.getElementById("#result").innerHTML = localStorage.getItem("#Score");
        } else {
            document.getElementById("#result").innerHTML = "Sorry, your browser does not support Web Storage...";
        }
    </script>
}